{{ wp.do_action('woocommerce_before_cart') }}

<form class="woocommerce-cart-form" action="{{url.form}}" method="post">
    {{ wp.do_action('woocommerce_before_cart_table') }}
    {{ wp.do_action('woocommerce_cart_mirele_table_order') }}
    {{ wp.do_action('woocommerce_cart_mirele_manager_table_cart') }}
</form>

{{ wp.do_action('woocommerce_before_cart_collaterals') }}

<div class="cart-collaterals">
    {{ wp.do_action('woocommerce_cart_collaterals') }}
</div>

<div class="wc-proceed-to-checkout">
    {{ wp.do_action('woocommerce_proceed_to_checkout') }}
</div>

{{ wp.do_action('woocommerce_after_cart') }}