<form name="checkout" method="post" action="{{ url.checkout }}" enctype="multipart/form-data">

    {{ wp.do_action('woocommerce_before_checkout_form', checkout) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-0 px-0">

                {% if checkout.get_checkout_fields == true %}

                <form name="checkout" method="post" action="{{ url.checkout }}" enctype="multipart/form-data">

                    {{ wp.do_action('woocommerce_checkout_before_customer_details') }}
                    {{ wp.do_action('woocommerce_checkout_billing') }}
                    {{ wp.do_action('woocommerce_checkout_shipping') }}
                    {{ wp.do_action('woocommerce_checkout_after_customer_details') }}

                    <input type="hidden" value="{{ nonce }}" name="_wpnonce">

                </form>

                {% endif %}

            </div>
            <div class="col-md-6 mx-0 px-0 pl-4">

                {{ wp.do_action('woocommerce_checkout_before_order_review_heading') }}

                {{ wp.do_action('woocommerce_checkout_before_order_review') }}

                <div id="order_review" class="woocommerce-checkout-review-order">
                    {{ wp.do_action('woocommerce_checkout_order_review') }}
                </div>

                {{ wp.do_action('woocommerce_checkout_after_order_review') }}

            </div>
        </div>
    </div>

    {{ wp.do_action('woocommerce_after_checkout_form', checkout) }}

</form>