{% extends 'TWIG/Layout/layout.twig' %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% if show_carousel == 1 or show_carousel == 'true' %}

                    {# Carousel Component #}
                    {{ Component('default_carousel', {
                        animation: 'slide'
                    }) }}

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block main %}

    {{ wp.do_action('woocommerce_before_main_content') }}

    {% if show_header == true %}

        <header class="woocommerce-products-header">

            <h4 class="woocommerce-products-header__title page-title">
                {{ wp.woocommerce_header() }}
            </h4>

            {{ wp.do_action('woocommerce_archive_description') }}

        </header>

    {% endif %}
    <div class="container-fluid p-0">
        <div class="row">

            {% for product in shadows %}
                <div class="col-sm-{{ grid.columns }} col-xs-12 p-2">
                    <img src="{{ product.image }}" alt="" width="100%" height="400">
                    <div class="py-3">
                        <h5>{{ product.name }}</h5>
                        <p>{{ product.price }} USD</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {{ wp.products_loop }}

    {{ wp.do_action('woocommerce_after_main_content') }}


{% endblock %}