{# Import of all necessary dependencies to generate the template #}
{% import 'Compound/editor/modal/insert_template.twig' as modal_insert_template %}
{% import 'Compound/editor/modal/insert_component.twig' as modal_insert_component %}
{% import 'Compound/editor/modal/edit_props.twig' as modal_edit_props %}
{% import 'Compound/editor/modal/edit_template.twig' as modal_edit_template %}
{% import 'Compound/editor/postbox/meta.twig' as postbox_meta %}
{% import 'Compound/editor/postbox/attr.twig' as postbox_attr %}
{% import 'Compound/editor/spinner/editor_preparation.twig' as editor_preparation %}
{% import 'Compound/editor/message/editor_error_preparation.twig' as editor_error_preparation %}

{# Generation of universal package data for valid rendering #}
{% set data_package = {
    page: page,
    templates: store.templates,
    components: store.components,
    families: store.getFamilies,
    templatesTypes: store.templatesTypes,
    templatesFamilies: store.templatesFamilies,
    templatesFolders: store.templatesFolders,
} %}

{# We generate the instances of all modal windows with which user interaction will take place. #}
{# Without calling the Render macro, #}
{# the modal windows will not be drawn on the page and will not receive any interaction. #}
{{ modal_insert_template.render(data_package) }}
{{ modal_insert_component.render(data_package) }}
{{ modal_edit_props.render(data_package) }}
{{ modal_edit_template.render(data_package) }}

<div class="wrap">

    <h1>Compound Block</h1>

    <hr class="wp-header-end"/>

    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">

            <div id="post-body-content" style="position: relative;">

                <div class="root-blocks">

                    {# Editor Box (VUE Context) #}
                    <div class="__compound_box" id="compound-editor"
                         data-behavior="editor"
                         data-component="editor"
                         data-namespace="editor"
                         data-role="editor">

                        {# Body #}
                        <div class="hidden"
                             data-behavior="body"
                             data-namespace="editor"
                             data-component="body"
                             data-role="body">

                            <h2 class="__compound_box_header">
                                <span>Compound Page Editor</span>
                            </h2>

                            <div class="__compound_box_tools">

                                <div class="grid-container">

                                    <div class="col-6 left">

                                        <a :href="tool.href||'javascript:void(0);'"
                                           :title="tool.title"
                                           class="__compound_action_link"
                                           :target="tool.href?'_blank':''"
                                           :rel="tool.href?'noopener noreferrer':''"
                                           :disabled="!(tool.enabled||false)"
                                           v-on:click="tool.click"
                                           v-for="tool in tools.left">

                                            <span :class="tool.icon"></span>
                                        </a>

                                    </div>

                                    <div class="col-6 right">

                                        <a :href="tool.href||'javascript:void(0);'"
                                           :title="tool.title"
                                           class="__compound_action_link"
                                           :target="tool.href?'_blank':''"
                                           :rel="tool.href?'noopener noreferrer':''"
                                           :disabled="!(tool.enabled||false)"
                                           v-on:click="tool.click"
                                           v-for="tool in tools.right">

                                            <span :class="tool.icon"></span>
                                        </a>

                                    </div>

                                </div>

                            </div>

                            <div :class="[`__compound_notify_${ui.notify.type}`, 'padding-3', 'font-size-1', 'color-white', 'hidden']"
                                 data-behavior="notify"
                                 data-component="notify"
                                 data-namespace="editor"
                                 data-role="notify">

                                <b>Success</b>

                            </div>

                            <div class="__compound_box_inner"
                                 data-behavior="layout"
                                 data-namespace="editor"
                                 data-component="layout"
                                 data-role="layout">

                                <div class="__compound_field_grid" :data-template="template.name" :data-id="template.id"
                                     :data-page-id="template.page" v-for="template in markup" v-if="markup"
                                     data-component="field" data-namespace="editor">

                                    <div class="grid-container __compound_field_body"
                                         data-component="field-body"
                                         data-namespace="editor"
                                         :data-template="template.name"
                                         :data-id="template.id">

                                        <div :class="__metaFieldClass__(field.meta)"
                                             v-for="(field, name) in template.fields"
                                             data-component="field-component" data-namespace="editor">

                                            <div v-if="field.tags">
                                                <div v-for="tag in field.tags">
                                                    <div v-if="tag.tag == 'component' && 'name' in tag.attributes && tag.attributes.name"
                                                         class="__compound_component_tag left"
                                                         @click="editProps({field: name, component: tag.attributes.name, template: template.id})">
                                                        <h5 class="margin-0 padding-0">{tag.attributes.name}</h5>
                                                        <div v-for="value, attribute in tag.attributes"
                                                             v-if="attribute != 'id' && attribute != 'name'">
                                                            <small>
                                                                <b>{attribute|capitalize}</b>: {value}
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div v-else class="center padding-y-6">
                                                        <span class="dashicons dashicons-warning"></span>
                                                        <h4 class="margin-0 padding-x-0 padding-y-0 padding-top-2">
                                                            Error</h4>
                                                        <p class="color-gray margin-0 padding-0">This component is
                                                            critically damaged</p>
                                                    </div>
                                                </div>
                                                <div v-else class="center padding-y-6">
                                                    <span class="dashicons dashicons-warning"></span>
                                                    <h4 class="margin-0 padding-x-0 padding-y-0 padding-top-2">
                                                        Error</h4>
                                                    <p class="color-gray margin-0 padding-0">This field has been
                                                        critically damaged</p>
                                                </div>
                                            </div>

                                            <div v-else :data-field-name="name"
                                                 class="__compound_component_insert center"
                                                 @click="insertComponent({field: name, template: template.id})">
                                                <span class="dashicons dashicons-plus"></span>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="__compound_field_control center" data-component="template-control"
                                         data-namespace="editor">

                                        <div class="__compound_field_control_action padding-2"
                                             data-action=""
                                             data-namespace="editor"
                                             title="Click to make a copy"
                                             @click="transport().cloneTemplate({template: template.id})">
                                            <span class="dashicons dashicons-admin-page"></span>
                                        </div>

                                        <div class="__compound_field_control_action_edit padding-2"
                                             data-action="edit"
                                             data-namespace="editor"
                                             title="Press and hold to move block"
                                             @click="editTemplate({template: template.id})">
                                            <span class="dashicons dashicons-admin-settings"></span>
                                        </div>

                                        <div class="__compound_field_control_action_remove padding-2"
                                             data-action="remove"
                                             data-namespace="editor"
                                             title="Press and hold to move block"
                                             @click="transport().removeTemplate({template: template.id})">
                                            <span class="dashicons dashicons-trash"></span>
                                        </div>

                                        <div class="__compound_field_control_action_move padding-2"
                                             data-action="move"
                                             data-namespace="editor"
                                             title="Press and hold to move block"
                                             @mousedown="org.compound.editor.vue.ui.layout.setSortable(true)">
                                            <span class="dashicons dashicons-move"></span>
                                        </div>


                                    </div>

                                </div>

                            </div>

                            <div class="__compound_box_action_unset hidden"
                                 data-component="trash"
                                 data-namespace="editor"
                                 data-behavior="trash"
                                 data-role="trash">
                                <span class="dashicons dashicons-trash"></span>
                            </div>

                            <div class="__compound_box_action_add" @click="insertTemplate({})">
                                <span class="dashicons dashicons-plus"></span>
                            </div>

                            <div class="__compound_box_footer">
                                Made with Compound, Mirele and ❤
                            </div>

                        </div>

                        {# Spinner #}
                        <div class="main"
                             data-component="spinner"
                             data-namespace="editor"
                             data-behavior="loader"
                             data-role="loader">
                            {{ editor_preparation.render() }}
                        </div>

                        {# Error #}
                        <div class="hidden"
                             data-component="error"
                             data-namespace="editor"
                             data-behavior="error"
                             data-role="error">
                            {{ editor_error_preparation.render({}) }}
                        </div>

                    </div>

                </div>
            </div>

            <form action="" method="post" id="compound-meta" @submit.prevent="submit">
                <div id="postbox-container-1" class="postbox-container">
                    <div id="side-sortables" class="meta-box-sortables ui-sortable">
                        {{ postbox_meta.render({page: page}) }}
                        {{ postbox_attr.render({page: page}) }}
                    </div>
                </div>
            </form>

        </div>
        <br class="clear"/>
    </div>

</div>
