<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapse">

            {{ Component('default_menu_navbar', []) }}

            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item dropdown">

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another
                            action</a> <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="subbar">
    <div class="container">
        <div class="col-sm-12">
            <div class="container-flex j-space-between py-3 px-0">
                <div class="container-flex pi-center">
                    <a href="{{ blog.home }}" class="logo-regular m-0 p-0 font-weight-lighter font-size-6">{{ blog.name|upper }}</a>
                </div>
                <div class="w-75">
                    <input type="text" width="100%" class="w-100" placeholder="Search by site, store and articles">
                </div>
                <div>

                    {% if user.user_login %}

                        <a class="h-100" href="{{ permalink.account.main }}">
                            <img class="rounded-circle" alt="{{ user.user_login }}" src="{{ user.avatar }}" data-holder-rendered="true" height="100%">
                        </a>
                        
                    {% else %}

                        <a href="/my-account">
                            <button>Login</button>
                        </a>
                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>