{# User Block #}

<div class="blocks user p-3 my-4">
    <div class="d-flex">

        <div class="p-3">
            <img class="img-fluid d-block avatar" src="{{ account.user.avatar }}" width="100%" height="100%">
        </div>

        <div class="p-3">

            {% if account.user.first_name and account.user.last_name %}
                <h5 class="font-weight-bold pb-1">{{ account.user.first_name }} {{ account.user.last_name }}</h5>
            {% elseif (account.user.first_name and account.user.last_name) == false%}
                <h5 class="font-weight-bold pb-1">{{ account.user.display_name }}</h5>
            {% else %}
                <h5 class="font-weight-bold pb-1">Unknown</h5>
            {% endif %}

            <h6 class="pb-3">{{ account.user.user_email }}</h6>
            <small class="text-muted">{{ account.user.roles|join(', ')|capitalize }}</small>

        </div>

        <div class="ml-auto p-2">
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a href="{{ url.customer.edit }}" class="nav-link p-2">
                        <i class="d-block fa fa-pen"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url.logout }}" class="nav-link p-2">
                        <i class="d-block fa fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
