{# event: #}
{# id: ID for modal window #}
{# class: class of modal #}
{# style: style of modal #}
{# __ignore_padding|true: (true/false) Ignore indents inside the container #}
{# __content_class: Class for the internal unit #}

{% macro render(event) %}

    <div id="{{ event.id }}" style="{{ 'display: none; ' ~ event.style }}" class="{{ event.class }}">
        <div class="Compound">
            <div class="{{ (event.__ignore_padding|default(true) == true ? 'ignore CModal' : 'CModal') ~ event.__content_class }}">

                <!-- Data content -->
                <div class="data-content">
                    {{ event.data|default(event.macro()) }}
                </div>

            </div>
        </div>
    </div>

{% endmacro %}