{{ wp.header }}

{% block header %}

{% endblock %}

<div class="container">
    <div class="row">

        {% if als == true %}

            <div class="col-sm-{{ (als == true and ars == true) ? ww2as : ww1as }} {{ hsmp == true ? 'd-none d-sm-block' : '' }}">
                {{ Component('default_sidebar', {'name': lsbn}) }}
            </div>

        {% endif %}

        <div class="col-sm-{{ (als == true and ars == true) ? 12 - ww2as : ((als == true or ars == true) ? 12 - ww1as : '12') }} col-xs-12">

            {% block main %}

            {% endblock %}

        </div>

        {% if ars == true %}

            <div class="col-sm-{{ (als == true and ars == true) ? ww2as : ww1as }} {{ hsmp == true ? 'd-none d-sm-block' : '' }}">
                {{ Component('default_sidebar', {'name': rsbn}) }}
            </div>

        {% endif %}

    </div>
</div>

{{ wp.footer }}