<div class="wrap">

    <div class="wp-mrl-column-1">

        <hr class="wp-header-end">

        <div class="root">

            <table class="wp-list-table widefat fixed striped posts">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>WebID</th>
                    <th>Name</th>
                    <th>Date created</th>
                    <th>Subscribers</th>
                </tr>
                </thead>
                <tbody>


                {% for i in lists %}

                <tr>
                    <th>
                        <b> {{i.id}} </b>
                    </th>
                    <th> {{i.web_id}} </th>
                    <th> {{i.name}} </th>
                    <th> {{utils.date_format(i.date_created, "Y/m/d H:i:s")}} </th>
                    <th> {{i.stats.member_count}} </th>
                </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

    <div class="wp-mrl-column-2">

        <div class="wp-mrl-box">
            <div class="inner">

                <h2>Welcome to MailChimp!</h2>

                <p>You are in the administrative integration control panel.</p>
                <p>Here you can configure the application and get the necessary statistics.</p>
                <p>Integration manuals you can find in the knowledge base</p>

                <h3>Resources</h3>
                <ul>
                    <li>
                        <a href="https://irtex-web.github.io" target="_blank">
                            <i aria-hidden="true" class="dashicons dashicons-external"></i> Documentation
                        </a>
                    </li>
                </ul>

            </div>
            <div class="footer">
                Thanks for choosing Mirele's MailChimp solution.
            </div>
        </div>

    </div>

</div>