<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Product</th>
        <th>File</th>
        <th>Remaining</th>
        <th>Access Expires</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for download in downloads %}
        <tr>
            <td>
                {{ download.product_name }}
            </td>
            <td>
                {{ download.download_name ? download.download_name : 'Unknown' }}
            </td>
            <td>
                {{ download.downloads_remaining ? download.downloads_remaining : 'No limit' }}
            </td>
            <td>
                {{ download.access_expires ? download.access_expires : 'Never delete' }}
            </td>
            <td>
                <a href="{{ download.download_url }}">Download</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>