<table class="table table-bordered table-hover woocommerce-cart-form__contents">
    <thead>
    <tr>
        <th>Picture</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>

    {{ wp.do_action('woocommerce_before_cart_contents') }}

    {% for iterator, product in cart %}

        <tr class="woocommerce-cart-form__cart-item {{ product.html.cartitem }}">

            {# Picture of product #}
            <td>
                <img src="{{ product.thumbnail_url }}" alt="" width="64px">
            </td>

            {# Title of product #}
            <td>
                {% if product.url %}
                    {{ product.title }}
                {% else %}
                    {{ product.title }}
                {% endif %}

                {{ wp.do_action('woocommerce_after_cart_item_name', product.iterator.item, product.iterator.key) }}

                {# Attribute #}
                {% for name,value in product.iterator.item.variation %}
                    <div>
                        <span>{{ name }}</span> {{ value }}
                    </div>
                {% endfor %}

            </td>

            {# Price of product #}
            <td>
                {{ wp.xxs(product.price)|raw }}
            </td>

            {# Qty of product #}
            <td>
                {% if product.is_sold_individually %}
                    {{ wp.e('You can only buy 1 unit of this product') }}
                {% else %}
                    <input type="number" min="0" max="{{ product.max_quantity > 0 ? product.max_quantity : '' }}"
                           name="cart[{{ product.iterator.key }}][qty]" value="{{ product.quantity }}">
                {% endif %}
            </td>

            {# Subtotal of product #}
            <td>
                {{ wp.xxs(product.subtotal)|raw }}
            </td>

            {# Action of product #}
            <td>

            </td>

        </tr>

    {% endfor %}

    {{ wp.do_action('woocommerce_after_cart_contents') }}

    </tbody>

    {% if wp.get_option('woocommerce_table_summary') == 'true' %}
        <tfoot>
        <tr>
            <th colspan="6">

                {% if wc.cart.subtotal == wc.cart.total %}
                    <span>{{ wc.cart.total }}</span>
                {% else %}
                    <span>{{ wc.cart.subtotal }}</span>
                    <span>{{ wc.cart.total }}</span>
                {% endif %}

            </th>
        </tr>
        </tfoot>
    {% endif %}

</table>
