{% if args.type == 'text' or
      args.type == 'password' or
      args.type == 'datetime' or
      args.type == 'datetime-local' or
      args.type == 'date' or
      args.type == 'month' or
      args.type == 'time' or
      args.type == 'week' or
      args.type == 'number' or
      args.type == 'email' or
      args.type == 'url' or
      args.type == 'tel' or
      args.type == 'hidden' or
      args.type == 'text' %}

      {#<label for="{{ args.id }}">{{ args.label }}</label>#}

      {{ Component('default_abstract_input', {
            attr: {
                  type: args.type,
                  width: args.width,
                  name: props.key,
                  value: args.value|default(args.default),
                  placeholder: args.placeholder|default(args.label),
                  maxlength: args.maxlength,
                  autocomplete: args.autocomplete,
                  id: args.id,
                  input_class: args.input_class|join(' '),
                  required: args.required ? 'required' : false,
                  style: args.style ? args.style : false,
                  autofocus: args.autofocus ? 'autofocus' : false
            },
            attributes: {},
            inline: args.custom_attributes_filtred|join(' ')
      }) }}

{% elseif args.type == 'textarea' %}

      {{ Component('default_abstract_textarea', {
            attr: {
                  type: args.type,
                  width: args.width,
                  name: props.key,
                  value: args.value|default(args.default),
                  placeholder: args.placeholder|default(args.label),
                  maxlength: args.maxlength,
                  autocomplete: args.autocomplete,
                  id: args.id,
                  input_class: args.input_class|join(' '),
                  required: args.required ? 'required' : false,
                  style: args.style ? args.style : false,
                  autofocus: args.autofocus ? 'autofocus' : false,
                  rows: args.custom_attributes.rows,
                  cols: args.custom_attributes.cols,
            },
            attributes: {},
            inline: args.custom_attributes_filtred|join(' ')
      }) }}

{% elseif args.type == 'radio' %}

      {% for key, value in args.options %}

            {{ Component('default_abstract_radio', {
                  attr: {
                        type: args.type,
                        width: args.width,
                        name: props.key,
                        value: args.value|default(args.default),
                        placeholder: args.placeholder|default(args.label),
                        maxlength: args.maxlength,
                        autocomplete: args.autocomplete,
                        id: args.id,
                        value: key,
                        input_class: args.input_class|join(' '),
                        required: args.required ? 'required' : false,
                        style: args.style ? args.style : false,
                        autofocus: args.autofocus ? 'autofocus' : false,
                        text: value
                  },
                  attributes: {},
                  inline: args.custom_attributes_filtred|join(' ')
            }) }}

      {% endfor %}

{% elseif args.type == 'checkbox' %}

      {{ Component('default_abstract_checkbox', {
            attr: {
                  name: props.key,
                  value: 1,
                  autocomplete: args.autocomplete,
                  id: args.id,
                  input_class: args.input_class|join(' '),
                  required: args.required ? 'required' : false,
                  style: args.style ? args.style : false,
                  autofocus: args.autofocus ? 'autofocus' : false,
                  text: args.value|default(args.default),
                  checked: args.value|default(args.default) == 1 or args.value|default(args.default) == '1' ? 'checked' : ''
            },
            attributes: {},
            inline: args.custom_attributes_filtred|join(' ')
      }) }}

{% elseif args.type == 'state' %}

      {{ Component('default_abstract_select', {
            attr: {
                  type: 'hidden',
                  name: props.key,
                  value: 'current_country',
                  placeholder: args.placeholder|default(args.label),
                  id: args.id,
                  input_class: 'state_select ' ~ args.input_class|join(' ')
            },
            attributes: {
                  'data-placeholder': args.placeholder
            },
            inline: args.custom_attributes_filtred|join(' '),
            options: state.states
      }) }}

{% elseif args.type == 'country' %}

{#      <label for="{{ args.id }}">{{ args.label }}</label>#}

      {{ Component('default_abstract_input', {
            attr: {
                  type: 'hidden',
                  name: props.key,
                  value: 'current_country',
                  placeholder: args.placeholder|default(args.label),
                  maxlength: args.maxlength,
                  id: args.id,
                  input_class: 'country_to_state ' ~ args.input_class|join(' '),
                  readonly: 'readonly'
            },
            attributes: {},
            inline: args.custom_attributes_filtred|join(' ')
      }) }}

      {{ Component('default_abstract_select', {
            attr: {
                  type: 'hidden',
                  name: props.key,
                  value: 'current_country',
                  placeholder: args.placeholder|default(args.label),
                  id: args.id,
                  input_class: 'country_to_state country_select ' ~ args.input_class|join(' '),
            },
            attributes: {},
            inline: args.custom_attributes_filtred|join(' '),
            options: country
      }) }}

      <noscript>

            {{ Component('default_abstract_button', {
                  attr: {
                        type: 'submit',
                        name: 'woocommerce_checkout_update_totals',
                        value: 'Update country / region',
                        input_class: 'w-100'
                  },
                  attributes: {},
                  inline: args.custom_attributes_filtred|join(' '),
                  options: country
            }) }}

      </noscript>

{% endif %}