{# event: #}
{# id: ID for modal window #}
{# class: class of modal #}
{# style: style of modal #}
{# __ignore_padding|true: (true/false) Ignore indents inside the container #}
{# __content_class: Class for the internal unit #}
{# __ignore_default_content_class|false: (true/false) Ignore the classes set for the default content of the modal window #}
{# form: #}
{# action: action attribute for form #}
{# method|post: method attribute for form #}
{# id|'modalframe': id attribute for form #}
{# class: class attribute for form #}
{# role|'form': role attribute for form #}
{# attr: - #}
{# header: #}
{# title|'Insert': title of header #}
{# description: description of header #}
{# class|'wp-mrl-default-header': class of header. Defines the colour range of the block #}
{# class|'default-header': class of header. Defines the colour range of the block #}

{% macro render(event) %}

    <div id="{{ event.id }}" style="{{ 'display: none; ' ~ event.style }}" class="{{ event.class }}">
        <div class="Compound">
            <div class="{{ (event.__ignore_padding|default(true) == true ? 'ignore CModal' : 'CModal') ~ event.__content_class }}">

                <!-- Form content -->
                <form action="{{ event.form.action }}" method="{{ event.form.method|default('post') }}"
                      role="{{ event.form.role|default('form') }}" id="{{ event.form.id|default('modalframe') }}"
                      class="{{ event.form.class|default('') }}" {{ event.form.attr|raw }}>

                    <!-- Header -->
                    <div class="left margin-buttom-2 margin-top-0 display-block padding-y-14 padding-x-8 {{ event.header.class|default('wp-mrl-default-header') }}">
                        <h3 class="margin-0 font-weight-3 font-size-4 display-contents color-white">
                            {{ event.header.title|default('Insert') }}
                        </h3>
                        <p class="color-white margin-0 padding-top-4 width-14">
                            {{ event.header.description }}
                        </p>
                    </div>

                    <!-- Data content -->
                    <div class="data-content {{ event.__ignore_default_content_class|default(false) == true ? '' : 'grid-container padding-6 col-12' }}">
                        {{ event.data|default(event.macro()) }}
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endmacro %}