
<div class="wrap wp-wrap-tabs">

    <div class="wp-mrl-column-1">

        <hr class="wp-header-end">

        {% for notification in notifications %}
            <div class="notice notice-warning">
                <p><b>{{ notification.title }}</b> {{ notification.content }} </p>
            </div>
        {% endfor %}

        <div class="postbox">
            <div class="root">
                <div class="wp-header-block">

                    <table height="20px">
                        <tr>
                            <td>
                                <img src="{{ avatar }} " class="wp-user-avatar">
                            </td>
                            <td>
                                <div class="wp-header-block">
                                    <h3> {{ user.display_name }} </h3>
                                    <p> {{ user.user_email }} </p>
                                    <small> ... </small>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="root">

            <div class="card-center-box">
                <div>
                    <h1>01 items</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis dolore id iste itaque, officiis provident quaerat quasi quis quod repudiandae sequi soluta vel? Aliquam consequatur ea quae repellendus tenetur?</p>
            </div>

            <div class="card-center-box">
                <div>
                    <h1>01 items</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis dolore id iste itaque, officiis provident quaerat quasi quis quod repudiandae sequi soluta vel? Aliquam consequatur ea quae repellendus tenetur?</p>
            </div>

            <div class="card-center-box">
                <div>
                    <h1>01 items</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis dolore id iste itaque, officiis provident quaerat quasi quis quod repudiandae sequi soluta vel? Aliquam consequatur ea quae repellendus tenetur?</p>
            </div>

            <div class="card-center-box">
                <div>
                    <h1>01 items</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis dolore id iste itaque, officiis provident quaerat quasi quis quod repudiandae sequi soluta vel? Aliquam consequatur ea quae repellendus tenetur?</p>
            </div>


        </div>

    </div>

    <div class="wp-mrl-column-2">

        <div class="wp-mrl-box">
            <div class="inner">

                <h2>Welcome!</h2>
                <p>All template settings are located in this center</p>
                <p>On this tab you can read the latest news from the author.</p>

                <h3>Resources</h3>
                <ul>
                    <li>
                        <a href="https://irtex-web.github.io" target="_blank">
                            <i aria-hidden="true" class="dashicons dashicons-external"></i> Documentation
                        </a>
                    </li>
                </ul>

            </div>
            <div class="footer">
                Thank you for your creativity with Mirele!
            </div>
        </div>

    </div>

</div>