{# Modal window for inserting a component on a section #}

{% macro render(event) %}

    <div id="modal_insert_component_{{ event.name }}" style="display:none;">
        <div class="Compound">

            {# Modal content #}
            <div class="CModal ignore">

                <form action="" method="post">

                    <div class="wp-mrl-tabs">
                        <div class="components-header">
                            <div class="grid-container">
                               <div class="col-12 left">
                                   <div class="margin-buttom-2 margin-top-2 display-block padding-y-10 padding-x-8">
                                       <h3 class="margin-0 font-weight-3 font-size-4 display-contents color-white">Components</h3>
                                       <p class="color-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda praesentium repellendus soluta temporibus! Architecto distinctio doloribus esse, inventore iste iusto laudantium sapiente.</p>
                                   </div>
                               </div>
                            </div>
                        </div>

                    </div>


                    <div class="grid-container">
                        <div class="padding-6 col-12">
                            <div class="grid-container">

                                {% for component in event.components %}

                                    <button type="submit" class="col-4 left margin-x-2 margin-y-2 margin-buttom-2 padding-3 wp-mrl-component-box" value="{{ component.getId }}" name="component">
                                        <h5 class="margin-0 padding-0">{{ component.getId }}</h5>
                                        <small class="margin-0 padding-0">{{ component.getMeta('editor').getData('title')|default(component.getId) }}</small>
                                    </button>

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="hidden" name="method" value="Compound-insertComponent">
                        <input type="hidden" name="nonce" value="{{ wp.nonce() }}">
                        <input type="hidden" name="page" value="{{ event.id }}">
                        <input type="hidden" name="field" value="{{ event.field }}">
                        <input type="hidden" name="template" value="{{ event.template }}">
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endmacro %}