{% macro render(event) %}

    {% import 'Prototypes/modal/compound_insert.twig' as prototype %}

    {% macro data(event) %}

        <div class="col-12 margin-0 padding-0 left" id="part-{{ name }}">
            <h4 class="margin-0 padding-0 left">Cloud of tags</h4>

            {% for name, components in event.families %}
                <a href="#part-{{ name }}">{{ name }}</a>
            {% endfor %}

            <hr>
        </div>

        {% for name, components in event.families %}

            <div class="col-12 margin-0 padding-0 left" id="part-{{ name }}">
                <h4 class="margin-0 padding-0 left">{{ name|capitalize }}</h4>
            </div>

            {% for id in components %}

                <button type="submit"
                        class="col-4 left margin-x-2 margin-y-2 margin-buttom-2 padding-3 wp-mrl-component-box"
                        @click="create({component: '{{ event.components[id].getId }}'})">
                    <h5 class="margin-0 padding-0">{{ event.components[id].getId }}</h5>
                    <small class="margin-0 padding-0">{{ event.components[id].getMeta('editor').getData('title')|default(event.components[id].getId) }}</small>
                </button>

            {% endfor %}

            <div class="col-12 margin-0 padding-0 left">
                <hr>
            </div>

        {% endfor %}

    {% endmacro %}

    {{ prototype.render({
        id: 'modal_insert_component',
        data: _self.data(event),
        form: {
            action: '',
            method: 'POST',
            class: '',
            id: '',
            attr: '@submit.prevent=\'submit\''
        },
        header: {
            title: 'Component',
            description: 'Use a component to display any material on the page or to interact with the site or other content. You can change each component',
            class: 'wp-mrl-green-header'
        }
    }) }}

{% endmacro %}