{% macro render(event) %}

    {% import 'Prototypes/modal/compound_insert.twig' as prototype %}

    {% macro data(event) %}
        {% for template in event.templates %}
            {% if template.getId %}

                <button type="submit" class="col-6 left margin-x-2 margin-y-2 margin-buttom-2 padding-3 wp-mrl-component-box" value="{{ template.getId }}" name="template">
                    {#                                            <img src="http://placehold.it/200x200" width="100%" alt="">#}

                    <h5 class="margin-0 padding-0">{{ template.getId }}</h5>
                    {#                                            <small class="margin-0 padding-0">{{ component.getMeta('editor').getData('title')|default(component.getId) }}</small>#}
                </button>

            {% endif %}
        {% endfor %}

        <!-- Service inputs -->
        <div class="hidden-inputs">
            <input type="hidden" name="method" value="Compound-insertTemplate">
            <input type="hidden" name="nonce" value="{{ wp.nonce() }}">
            <input type="hidden" name="page" value="{{ event.id }}">
        </div>

    {% endmacro %}

    {{ prototype.render({
        id: 'modal_insert_template',
        data: _self.data(event),
        form: {
            action: '',
            method: 'POST',
            class: '',
            id: ''
        },
        header: {
            title: 'Template',
            description: 'Use the template to coordinate your components. There can be an unlimited number of templates on the each page ',
            class: 'wp-mrl-purpure-header'
        }
    }) }}

{% endmacro %}