{# Modal window for inserting a component on a section #}

{% macro render(event) %}

    <div id="modal_insert_component_{{ event.name }}" style="display:none;">
        <div class="Compound">

            {# Modal content #}
            <div class="CModal">

                <form action="" method="post">

                    <h4>Component ({{ event.components|length }})</h4>

                    {% for component in event.components %}
                        <div class="left">
                            <label for="{{ component.getId }}">
                                <input type="radio" value="{{ component.getId }}" name="component">  {{ component.getMeta('editor').getData('title')|default(component.getId) }}
                            </label>
                        </div>
                    {% endfor %}

                    <div>
                        <input type="hidden" name="method" value="Compound-insertComponent">
                        <input type="hidden" name="nonce" value="{{ wp.nonce() }}">
                        <input type="hidden" name="page" value="{{ event.id }}">
                        <input type="hidden" name="field" value="{{ event.field }}">
                        <input type="hidden" name="template" value="{{ event.template }}">
                        <button type="submit" class="button button-primary button-large">Create and continue</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endmacro %}