{% macro render(event) %}

    {% import 'Prototypes/modal/compound_insert.twig' as prototype %}


    {% macro data(event) %}

        <div class="col-12 left">
            <h4>Folders</h4>
        </div>
        {% for name, folder in event.templatesFolders %}
            <div class="col-12 left">
                <p class="color-gray margin-0 padding-0">{{ name }}</p>
            </div>
            {% for template in folder %}
                <div class="col-2 __compound_element margin-x-2 margin-y-2 margin-buttom-2"
                     @click="insert({template: '{{ template }}'})">
                    <div class="padding-1">
                        <div class="left padding-3">
                            {{ template }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="col-12 left">
            <h4>Templates</h4>
        </div>
        {% for template in event.templates %}
            {% if template.getId %}
                <div class="col-6 __compound_element margin-x-2 margin-y-2 margin-buttom-2"
                     @click="insert({template: '{{ template.getId }}'})">
                    <div class="padding-1">

                        {% if template.getMeta('editor').picture is not empty %}
                            <img src="{{ template.getMeta('editor').picture }}" alt="" width="100%">
                        {% endif %}

                        <div class="left padding-3">

                            <h4 class="margin-0 padding-0">{{ template.getMeta('editor').name|default(template.getMeta('name'))|default(template.getId) }}</h4>

                            {% if template.getMeta('editor').description is not empty %}
                                <div class="margin-y-1 margin-x-0 padding-0 display-block">
                                    <p class="margin-0 padding-0">{{ template.getMeta('editor').description }}</p>
                                </div>
                            {% endif %}


                            {% if template.getMeta('editor').features is not empty and template.getMeta('editor').features is iterable %}

                                <div class="margin-y-2 margin-x-0 padding-0">
                                    {% for prop in template.getMeta('editor').features %}
                                        <div>
                                            <small><b>{{ prop.name }}</b>: {{ prop.value }}</small>
                                        </div>
                                    {% endfor %}
                                </div>

                            {% endif %}

                            {% if template.getMeta('editor').prototype is not empty %}

                                <div>
                                    <small class="margin-y-1 margin-x-0 padding-0 color-gray">Prototype: {{ template.getMeta('editor').prototype }}</small>
                                </div>

                            {% endif %}

                            {% if template.getMeta('editor').sponsor is not empty %}

                                <div>
                                    <small class="margin-y-1 margin-x-0 padding-0 color-gray">Sponsor: {{ template.getMeta('editor').sponsor }}</small>
                                </div>

                            {% endif %}

                            {% if template.getMeta('editor').rating is not empty and template.getMeta('editor').rating|number_format > 0 %}

                                <div class="margin-bottom-0 margin-top-2 margin-x-0 padding-0">
                                    {% set rating = (template.getMeta('editor').rating <= 5 ? template.getMeta('editor').rating : 5) %}
                                    {% for index in 1 .. 5 %}
                                        {% if index <= rating %}
                                            <span class="dashicons dashicons-star-filled __compound_star __compound_star_enabled"></span>
                                        {% else %}
                                            {% if rating - index >= -0.5 %}
                                                <span class="dashicons dashicons-star-half __compound_star __compound_star_enabled"></span>
                                            {% else %}
                                                <span class="dashicons dashicons-star-empty __compound_star __compound_star_disabled"></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            {% endif %}

                        </div>


                    </div>
                </div>

            {% endif %}
        {% endfor %}

    {% endmacro %}

    {{ prototype.render({
        id: 'modal_insert_template',
        data: _self.data(event),
        form: {
            action: '',
            method: 'POST',
            class: '',
            id: '',
            attr: '@submit.prevent=\'submit\''
        },
        header: {
            title: 'Template',
            description: 'Use the template to coordinate your components. There can be an unlimited number of templates on the each page ',
            class: 'wp-mrl-purpure-header'
        }
    }) }}

{% endmacro %}