{% macro render(event) %}

    {% import 'TWIG/Prototypes/modal/compound_insert.twig' as prototype %}

    {% macro data(event) %}

        <div class="col-12 margin-0 padding-0 left" id="part-{{ name }}">
            <h4 class="margin-0 padding-0 left">Cloud of tags</h4>

            {% for name, components in event.families %}
                <a href="#part-{{ name }}">{{ name }}</a>
            {% endfor %}

            <hr>
        </div>

        {% for name, components in event.families %}

            <div class="col-12 margin-0 padding-0 left" id="part-{{ name }}">
                <h4 class="margin-0 padding-0 left">{{ name|capitalize }}</h4>
            </div>

            {% for id in components %}

                {% if event.components[id].isIndex %}

                    <div class="col-6 __compound_element margin-x-2 margin-y-2 margin-buttom-2"
                     @click="create({component: '{{ event.components[id].getId }}'})">
                    <div class="padding-0">

                        {% if event.components[id].getMeta('editor').picture is not empty %}
                            <img src="{{ event.components[id].getMeta('editor').picture }}" alt="" width="100%">
                        {% endif %}

                        <div class="left padding-x-4 padding-y-3">
                            
                            <h4 class="margin-0 padding-0">{{ event.components[id].getMeta('editor').title|default(event.components[id].getMeta('name'))|default(event.components[id].getId) }}</h4>

                            {% if event.components[id].getMeta('editor').description is not empty %}
                                <div class="margin-y-1 margin-x-0 padding-0 display-block">
                                    <p class="margin-0 padding-0">{{ event.components[id].getMeta('editor').description|xss|raw }}</p>
                                </div>
                            {% endif %}


                            {% if event.components[id].getMeta('editor').features is not empty and event.components[id].getMeta('editor').features is iterable %}

                                <div class="margin-y-2 margin-x-0 padding-0">
                                    {% for prop in event.components[id].getMeta('editor').features %}
                                        <div>
                                            <small><b>{{ prop.name }}</b>: {{ prop.value }}</small>
                                        </div>
                                    {% endfor %}
                                </div>

                            {% endif %}

                            {% if event.components[id].getMeta('editor').prototype is not empty %}

                                <div>
                                    <small class="margin-y-1 margin-x-0 padding-0 color-gray">Prototype: {{ event.components[id].getMeta('editor').prototype }}</small>
                                </div>

                            {% endif %}

                            {% if event.components[id].getMeta('editor').sponsor is not empty %}

                                <div>
                                    <small class="margin-y-1 margin-x-0 padding-0 color-gray">Sponsor: {{ event.components[id].getMeta('editor').sponsor }}</small>
                                </div>

                            {% endif %}

                            {% if event.components[id].getMeta('editor').alias is not empty or event.components[id].getAlias is not empty %}

                                <div>
                                    <small class="margin-y-1 margin-x-0 padding-0 color-gray">Alias: {{ event.components[id].getMeta('editor').alias|default(event.components[id].getAlias) }}</small>
                                </div>

                            {% endif %}

                            {% if event.components[id].getMeta('editor').rating is not empty and event.components[id].getMeta('editor').rating|number_format > 0 %}

                                <div class="margin-bottom-0 margin-top-2 margin-x-0 padding-0">
                                    {% set rating = (event.components[id].getMeta('editor').rating <= 5 ? event.components[id].getMeta('editor').rating : 5) %}
                                    {% for index in 1 .. 5 %}
                                        {% if index <= rating %}
                                            <span class="dashicons dashicons-star-filled __compound_star __compound_star_enabled"></span>
                                        {% else %}
                                            {% if rating - index >= -0.5 %}
                                                <span class="dashicons dashicons-star-half __compound_star __compound_star_enabled"></span>
                                            {% else %}
                                                <span class="dashicons dashicons-star-empty __compound_star __compound_star_disabled"></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            {% endif %}

                        </div>


                    </div>
                </div>

                {% endif %}

            {% endfor %}

            <div class="col-12 margin-0 padding-0 left">
                <hr>
            </div>

        {% endfor %}

    {% endmacro %}

    {{ prototype.render({
        id: 'modal_insert_component',
        data: _self.data(event),
        form: {
            action: '',
            method: 'POST',
            class: '',
            id: '',
            attr: '@submit.prevent=\'submit\''
        },
        header: {
            title: 'Component',
            description: 'Use a component to display any material on the page or to interact with the site or other content. You can change each component',
            class: 'wp-mrl-green-header'
        }
    }) }}

{% endmacro %}