<div class="woocommerce-billing-fields">

    {{ wp.do_action('woocommerce_before_checkout_billing_form', checkout) }}

    {% for key, field in form %}

        <div class="mb-3">

            {{ Component('default_field', {
                key: key,
                field: field,
                value: checkout.get_value(key),
                attr: {
                    input_class: 'w-100'
                }
            }) }}

        </div>

    {% endfor %}

    {{ wp.do_action('woocommerce_after_checkout_billing_form', checkout) }}

</div>

<div class="woocommerce-account-fields">

    {% if registration_required %}

        <p class="form-row form-row-wide create-account">
            <label>
                <input id="createaccount" type="checkbox" name="createaccount" value="1"/>
                <span> ... </span>
            </label>
        </p>

    {% endif %}

    {% if registration_required %}

        <p class="form-row form-row-wide create-account">
            <label>
                <input id="createaccount" type="checkbox" name="createaccount" value="1"/>
                <span> ... </span>
            </label>
        </p>

    {% endif %}

    {{ wp.do_action( 'woocommerce_before_checkout_registration_form', checkout ) }}

    {% if account %}

        <div class="create-account">

            {% for key, field in account %}

                <div class="mb-3">

                    {{ Component('default_field', {
                        key: key,
                        field: field,
                        value: checkout.get_value(key),
                        attr: {
                            input_class: 'w-100'
                        }
                    }) }}

                </div>

                <div class="clear"></div>

            {% endfor %}

        </div>

    {% endif %}

    {{ wp.do_action( 'woocommerce_after_checkout_registration_form', checkout ) }}

</div>
